{% block content %}
    <section class="media-testimonials-container">
        <h2>NOWADAYS IN THE PRESS</h2>
        <div class="media-testimonials">
            <div class="media-testimonials__item">
                <img src="{{ theme.link ~ '/img//Frame-24-6.svg'}}" alt="Press 1" />
                <p>"Nowadays is the first nationally avaialble cannabis infused-spirint."</p>
            </div>
            <div class="media-testimonials__item">
                <img src="{{ theme.link ~ '/img//Frame-24-4-2.svg'}}" alt="Press 2" />
                <p>"Nowadays is the first nationally avaialble cannabis infused-spirint."</p>
            </div>
            <div class="media-testimonials__item">
                <img src="{{ theme.link ~ '/img//Frame-24-3-2.svg'}}" alt="Press 3" />
                <p>"Nowadays is the first nationally avaialble cannabis infused-spirint."</p>
            </div>
            <div class="media-testimonials__item">
                <img src="{{ theme.link ~ '/img//Frame-24-2-2.svg' }}" alt="Press 4" />
                <p>"Nowadays is the first nationally avaialble cannabis infused-spirint."</p>
            </div>
            <div class="media-testimonials__item">
                <img src="{{ theme.link ~ '/img//Frame-24-1-2.svg'}}" alt="Press 5" />
                <p>"Nowadays is the first nationally avaialble cannabis infused-spirint."</p>
            </div>
        </div>
    </section>
{% endblock %}